<div style="height:20px;">.</div>
<img src="assets/img/kpibanner.png" width="1100px" style="margin-bottom:20px;" >
  <!-- <app-school-login></app-school-login> -->
<nav class="navbar navbar-expand-lg navbar-light  "style="color:white;background-color:#00B6CB;" >
    <a class="navbar-brand" href="#"><span style="color:white;">Dashboard</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" >
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="javascript:void(0)" (click)="getPage(1)" ><span style="color:white;">HomeReport</span> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="javascript:void(0)" (click)="getPage(2)" ><span style="color:white;">ผลงานรายหน่วยบริการ</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="javascript:void(0)" (click)="getPage(3)" ><span style="color:white;">14กิจกรรม รพสต.คุณภาพ</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="javascript:void(0)" (click)="getPage(4)" ><span style="color:white;">โรงเรียนส่งเสริมทันตสุขภาพ</span></a>
        </li>
      </ul>
    </div>
  </nav>
<div *ngIf="showpage===1">
  <iframe width="1200" height="1800" src="https://datastudio.google.com/embed/reporting/45012894-1f27-4652-8073-8e07b5103419/page/hWneB" frameborder="0" style="border:0" allowfullscreen></iframe>
 </div>

 <div *ngIf="showpage===2">
  <iframe width="600" height="1800" src="https://datastudio.google.com/embed/reporting/45012894-1f27-4652-8073-8e07b5103419/page/YuveB" frameborder="0" style="border:0" allowfullscreen></iframe>

 </div>
 <div *ngIf="showpage===3">
  <iframe width="600" height="900" src="https://datastudio.google.com/embed/reporting/45012894-1f27-4652-8073-8e07b5103419/page/pHMgB" frameborder="0" style="border:0" allowfullscreen></iframe>
 </div>
