<div class="row">
    <div class="col">
    <div class="card" style="width: 14rem;margin-top:20px;">
        <a [routerLink]="['/school']"> <img class="card-img-top" src="assets/img/dentalschool.png" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">กิจกรรมส่งเสริมทันตสุขภาพ</p>
            
        </div>
    </a> 
    </div>
</div>
    <div class="col">
    <div class="card" style="width: 14rem;margin-top:20px;">
    <a [routerLink]="['/report']">    <img class="card-img-top" src="assets/img/kpiboard.png" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">กำกับ ประเมินทันตสาธารณสุข</p>
        </div>
    </a>
    </div>
</div>
<div class="col">
    <div class="card" style="width: 14rem;margin-top:20px;">
        <img class="card-img-top" src="assets/img/dentalperson.png" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">ทันตแพทย์ ทันตาภิบาล ผู้ช่วยฯ</p>
        </div>
    </div>
</div>


</div>
<iframe width="1200" height="1800" src="https://datastudio.google.com/embed/reporting/45012894-1f27-4652-8073-8e07b5103419/page/hWneB" frameborder="0" style="border:0" allowfullscreen></iframe>