
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">DashBoard ทันตสาธารณสุขชัยภูมิ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/school']">ทันตสุขภาพในโรงเรียน</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/report']">KPI Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ทันตบุคลากร</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">DentalUnit</a>
      </li>
      
    </ul>
    
  </div>
</nav>
<div class="container" style="margin-bottom: 20px;">
  <router-outlet></router-outlet>
</div>


