
  <form action="" accept-charset="UTF-8" method="get">
    <div class="row" style="margin-bottom: 20px;" >
        <div class="col-md-2">
          
        </div>
       
      <div class="col-md-10  text-right">
        
          <div *ngIf="! isLog" class="input-group">
            <input type="text" name="search" id="search" value=""  [(ngModel)]="txtPincode" placeholder="Pincode" class="form-control">
            <span class="input-group-btn" style="margin-left:20px;">
              <input type="Login" name="commit" value="Login" (click)="doLogin()" class="btn btn-primary" >
            </span> 
          </div>
       <div *ngIf="isLog">
<div>ท่านเข้าใช้งานด้วยสิทธิ์ผู้ใช้งาน {{logUser}} ระดับ{{logLevel}} </div>
    <div>ท่านสามารถ double click ที่ช่อง ปลอดน้ำอัดลมเพื่อแก้ไข  <a href="javascript:void(0)" (click)="doLogOut()" > ออกจากระบบ</a></div>
       </div>
      </div>
    
    </div> 
</form>

<p-table [value]="schoolsAmp" (onEditInit)="myEditInit($event)" (onEditComplete)="myEditComplete($event)">
    <ng-template pTemplate="header">
        <tr>
         <th>ลำดับ</th>
            <th>ชื่อโรงเรียน</th>
           
            <th>หน่วยบริการ</th>

            <th>ปลอดน้ำอัดลม</th>
            <th>ปลอดเครื่องดื่มรสหวาน</th>
            <th>ปลอดขนมกรุบกรอบ</th>
            <th>Last Update</th>
            
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-i="rowIndex">
        <tr>
          <td >
                  {{i+1}}

            </td>
             <td>
                        {{rowData.schname}}

            </td>
          
            <td >
                  {{rowData.off_name}}

            </td>
           
            <td  style="text-align: center;" *ngIf="rowData.tag === 1" pEditableColumn [pEditableColumn]="rowData" [pEditableColumnRowIndex]="i"  [pEditableColumnField]="'isnocoke'">
               <p-cellEditor>
                    <ng-template pTemplate="input">
                       <p-dropdown [options]="coke" [(ngModel)]="rowData.isnocoke" [style]="{'width':'100%'}"></p-dropdown>

                                          </ng-template>
                    <ng-template pTemplate="output">

                        <div *ngIf="rowData.isnocoke==1" ><img src="https://img.pngio.com/curved-check-mark-circle-icon-transparent-png-svg-vector-check-icon-png-512_512.png" width="50px" height="50px" ></div>
                        <div *ngIf="rowData.isnocoke==2" ><img src="assets/img/coke.png" width="50px" height="50px" ></div>
                   
                    </ng-template>
                </p-cellEditor>
            </td>
            <td *ngIf="rowData.tag != 1" style="background-color: #e6e5e3;text-align: center;"> 
                <div *ngIf="rowData.isnocoke==1" ><img src="https://img.pngio.com/curved-check-mark-circle-icon-transparent-png-svg-vector-check-icon-png-512_512.png" width="50px" height="50px" ></div>
                        <div *ngIf="rowData.isnocoke==2" ><img src="assets/img/coke.png" width="50px" height="50px" ></div>
                   
            </td>


            <td  style="text-align: center;" *ngIf="rowData.tag === 1" pEditableColumn [pEditableColumn]="rowData" [pEditableColumnRowIndex]="i"  [pEditableColumnField]="'isnosweet'">
              <p-cellEditor>
                   <ng-template pTemplate="input">
                      <p-dropdown [options]="sweet" [(ngModel)]="rowData.isnosweet" [style]="{'width':'100%'}"></p-dropdown>

                                         </ng-template>
                   <ng-template pTemplate="output">

                       <div *ngIf="rowData.isnosweet==1" ><img src="https://img.pngio.com/curved-check-mark-circle-icon-transparent-png-svg-vector-check-icon-png-512_512.png" width="50px" height="50px" ></div>
                       <div *ngIf="rowData.isnosweet==2" ><img src="assets/img/yogurt.png" width="50px" height="50px" ></div>
                  
                   </ng-template>
               </p-cellEditor>
           </td>
           <td *ngIf="rowData.tag != 1" style="background-color: #e6e5e3;text-align: center;"> 
               <div *ngIf="rowData.isnosweet==1" ><img src="https://img.pngio.com/curved-check-mark-circle-icon-transparent-png-svg-vector-check-icon-png-512_512.png" width="50px" height="50px" ></div>
                       <div *ngIf="rowData.isnosweet==2" ><img src="assets/img/yogurt.png" width="50px" height="50px" ></div>
                  
           </td>
           <td  style="text-align: center;" *ngIf="rowData.tag === 1" pEditableColumn [pEditableColumn]="rowData" [pEditableColumnRowIndex]="i"  [pEditableColumnField]="'isnocandy'">
            <p-cellEditor>
                 <ng-template pTemplate="input">
                    <p-dropdown [options]="candy" [(ngModel)]="rowData.isnocandy" [style]="{'width':'100%'}"></p-dropdown>

                                       </ng-template>
                 <ng-template pTemplate="output">

                     <div *ngIf="rowData.isnocandy==1" ><img src="https://img.pngio.com/curved-check-mark-circle-icon-transparent-png-svg-vector-check-icon-png-512_512.png" width="50px" height="50px" ></div>
                     <div *ngIf="rowData.isnocandy==2" ><img src="assets/img/cookie.png" width="50px" height="50px" ></div>
                
                 </ng-template>
             </p-cellEditor>
         </td>
         <td *ngIf="rowData.tag != 1" style="background-color: #e6e5e3;text-align: center;"> 
             <div *ngIf="rowData.isnocandy==1" ><img src="https://img.pngio.com/curved-check-mark-circle-icon-transparent-png-svg-vector-check-icon-png-512_512.png" width="50px" height="50px" ></div>
                     <div *ngIf="rowData.isnocandy==2" ><img src="assets/img/cookie.png" width="50px" height="50px" ></div>
                
         </td>
            <td>{{rowData.lastupdate  | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
            
        </tr>
    </ng-template>
</p-table>
<p-toast position="center">dddddddff</p-toast>
