<aside class="aside aside-fixed">
  <div class="aside-header">
    <a href="../../index.html" class="aside-logo">EGP<span>Helper</span></a>
    <a href="" class="aside-menu-link">
      <i data-feather="menu"></i>
      <i data-feather="x"></i>
    </a>
  </div>
  <div class="aside-body">
    <div class="aside-loggedin">
      <div class="d-flex align-items-center justify-content-start">
        <a href="" class="avatar"><img src="https://via.placeholder.com/500" class="rounded-circle" alt=""></a>
        <div class="aside-alert-link">
          <a href="" class="new" data-toggle="tooltip" title="You have 2 unread messages"><i
              data-feather="message-square"></i></a>
          <a href="" class="new" data-toggle="tooltip" title="You have 4 new notifications"><i
              data-feather="bell"></i></a>
          <a href="" data-toggle="tooltip" title="Sign out"><i data-feather="log-out"></i></a>
        </div>
      </div>
      <div class="aside-loggedin-user">
        <a href="#loggedinMenu" class="d-flex align-items-center justify-content-between mg-b-2" data-toggle="collapse">
          <h6 class="tx-semibold mg-b-0">{{myoffice?.officename}}</h6>
          <i data-feather="chevron-down"></i>
        </a>
        <p class="tx-color-03 tx-12 mg-b-0">Administrator</p>
      </div>
      <div class="collapse" id="loggedinMenu">
        <ul class="nav nav-aside mg-b-0">
          <li class="nav-item"><a href="" class="nav-link"><i data-feather="edit"></i> <span>Edit
                Profile</span></a></li>
          <li class="nav-item"><a href="" class="nav-link"><i data-feather="user"></i> <span>View
                Profile</span></a></li>
          <li class="nav-item"><a href="" class="nav-link"><i data-feather="settings"></i> <span>Account
                Settings</span></a></li>
          <li class="nav-item"><a href="" class="nav-link"><i data-feather="help-circle"></i> <span>Help
                Center</span></a></li>
          <li class="nav-item"><a href="" class="nav-link"><i data-feather="log-out"></i> <span>Sign
                Out</span></a></li>
        </ul>
      </div>
    </div><!-- aside-loggedin -->
<ul class="nav nav-aside">
      <li class="nav-label">เมนู</li>
      <li class="nav-item active"><a  [routerLink]="['/egp/project']" class="nav-link"><i data-feather="shopping-bag"></i>
          <span>โครงการ</span></a></li>
      <li class="nav-item"><a [routerLink]="['/egp/report']" class="nav-link"><i data-feather="globe"></i>
          <span>สรุปรายงาน</span></a></li>

 <li *ngIf="!(isSignIn | async)" class="nav-item"><a [routerLink]="['/egp/signin']" class="nav-link"><i data-feather="globe"></i>
          <span>Login</span></a></li>
  <li *ngIf="(isSignIn | async)" class="nav-item"><a (click)="logOut()" class="nav-link"><i data-feather="globe"></i>
          <span>Logout</span></a></li>
          </ul>




  </div>
</aside>

<div class="content ht-100v pd-0">


  <div class="content-body">
    <div class="container pd-x-0">

      <router-outlet></router-outlet>

    </div><!-- container -->
  </div>
</div>
